#E-mail for letsencrypt service
ACME_EMAIL=mymail@mydomain
#Login and password hash for Kafka UI and Traefik dashboard
#You can you htpasswd to make password hash
#%htpasswd -nbm pmacct einohheneGh5
#Login: pmacct
#Password: einohheneGh5 
BASIC_AUTH=pmacct:$apr1$oovNn850$21mpOTfMTLg.99HcPFsXr1
#Traefik version
TRAEFIK_VERSION=1.7.26-alpine
#Traefik dasboard host or url
TRAEFIK_HOST=dashboard.mytraefik.mydomain
#Hostname for Kafka UI. Used by traefik proxy.
KAFKA_UI_HOST=kafka-ui.mydomain
#Victoria Metrics Variables
VM_VERSION=v1.42.0
VM_RETENTION=60
VM_URL=http://victoria:8428
VM_INSTANCE=pmacct.sfacct
VM_JOB=sfacct
#Clickhouse Variables
CLICKHOUSE_VERSION=20.6.4.44
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_DB=pmacct
CLICKHOUSE_TABLE=sflowstat
CLICKHOUSE_USER=pmlab
CLICKHOUSE_PASSWORD=Ua3ahqu6shieliphah1n
CLICKHOUSE_DATA_SCHEMA=tag UInt16,label String,mac_src String,mac_dst String,coms String,ecoms String,vlan UInt16,as_src UInt32,as_dst UInt32,iface_in UInt64,iface_out UInt64,ip_src IPv4,ip_dst IPv4,peer_ip_src IPv4,port_src UInt16,port_dst UInt32,ip_proto String,stamp_updated DateTime,packets UInt64,bytes UInt64,writer_id String
CLICKHOUSE_ORDER_BY=stamp_updated,peer_ip_src,tag,as_dst,as_src,iface_out,iface_in
CLICKHOUSE_PARTITION_BY=toYYYYMMDD(stamp_updated)
#
#Grafana variables
#
#Default admin password for Grafana
GRAFANA_ADMIN_PASSWORD=Ieh6eJ5thain
#Grafana version
GRAFANA_VERSION=7.1.2
#Hostname for Grafana. Used by traefik proxy.
GRAFANA_HOST=grafana.mydomain
#GF_SERVER_ROOT_URL
GRAFANA_ROOT_URL=https://grafana.mydomain
GRAFANA_PLUGINS=vertamedia-clickhouse-datasource
GRAFANA_UNSIGNED_PLUGINS=vertamedia-clickhouse-datasource
ELASTIC_VERSION=7.9.1
ELASTIC_HOSTS=elastic:9200
KIBANA_VERSION=7.9.1
KIBANA_HOST=kibana.mydomain